<template>
  <div :class="['todo', { 'todo_height': edit }]">
    <div class="todo_wrapper">
      <div class="todo_title">
        <h1>{{ title }}</h1>
        <div v-show="edit" class="todo_actions">
          <p v-show="confirmSave">Save changes?</p>
          <div @click.stop="saveTodoList" class="todo_save"></div>
          <div v-show="!confirmSave" @click.stop="confirmSave = true" class="todo_cancel"></div>
          <div v-show="confirmSave" @click.stop="cancelEditTodoList" class="todo_cancel"></div>
        </div>
      </div>
      
      <div class="todo_list">
        <div v-for="(idx, todo) in todoList" :key="todo.id" class="list_wrapper">
          <div v-if="idx !== selectItem" class="list_container">
            <div class="list_check" @click="checkTodo(idx)">
              <input
                class="checkbox"
                type="checkbox"
                name="check"
                :id="idx"
                :checked="todo.isCheck">
              <p>{{ todo.title }}</p>
            </div>
            <div class="list_edit" @click="editItem(idx)"></div>
            <div @click="deleteItem(idx)" class="list_delete"></div>
          </div>
          <div class="list_container" v-else>
            <input type="text" :value="todoList[idx].title" v-model="newTextTodo">
            <div class="list_done" @click="editDone(idx)"></div>
            <div class="list_cancel" @click="editCancel"></div>
          </div>
        </div>
      </div>

      <div v-show="edit" class="todo_add">
        <input type="text" v-model="textTodo" placeholder="Name todo here">
        <button @click="addTodo()">Add</button>
      </div>
    </div>

    <div v-show="!edit" :class="['hover_field', {'hover_field_stand': confirm}]"></div>
    <div v-show="!edit && !confirm" @click.stop="deleteTodo" class="delete_todoList"></div>
    <div v-show="confirm" class="delete_wrapper">
      <p>Are you sure you want to delete this todo list?</p>
      <div>
        <button @click.stop="confirmDeleteTodo" class="delete_yes">Yes</button>
        <button @click.stop="cancelDeleteTodo" class="delete_no">No</button>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    edit: Boolean,
    title: String,
    todoid: Number,
  },

  data: function() {
    return {
      textTodo: '',
      newTextTodo: '',
      todoList: [],
      nextTodoId: 0,
      selectItem: '',
      confirm: false,
      confirmSave: false,
    }
  },
  
  created() {
    this.getTodoList();
  },
  
  methods: {
    // Actions whis todo
    // Add
    addTodo() {
      if (this.textTodo) {
        this.todoList.push(
          {
            id: this.nextTodoId++,
            title: this.textTodo,
            isCheck: false,
          });
        this.textTodo = '';
      }
    },
    // Check
    checkTodo(idx) {
      this.todoList[idx].isCheck = !this.todoList[idx].isCheck;
    },
    // Edit
    editItem(idx) {
      this.selectItem = idx;
    },
    deleteItem(idx) {
      this.todoList.splice(idx, 1);
      this.confirmDel = false;
    },
    editDone(idx) {
      this.todoList[idx].title = this.newTextTodo;
      this.selectItem = '';
    },
    editCancel() {
      this.selectItem = '';
    },
    cancelEditTodoList() {
      this.confirmSave = false;
      this.$emit('end');
      this.getTodoList();
    },
    // delete todo
    deleteTodo(){ 
      this.confirm = true;
    },
    confirmDeleteTodo() {
      this.confirm = false;
      this.$emit('delete');
    },
    cancelDeleteTodo() {
      this.confirm = false;
    },

    // Save data
    getTodoList() {
      if (localStorage.getItem('todo-lists')) {
        this.todoList = JSON.parse(localStorage.getItem('todo-lists'))[this.todoid].todo;
        if (this.todoList.length !== 0) {
          this.nextTodoId = this.todoList[this.todoList.length - 1].id + 1;
        }
      }
    },
    saveTodoList() {
      this.$emit('end');
      this.editCancel();
      let todoLists = JSON.parse(localStorage.getItem('todo-lists'));
      todoLists[this.todoid].todo = this.todoList;
      localStorage.setItem('todo-lists', JSON.stringify(todoLists));
    }
  }
}
</script>

<style src="./todo.css">

</style>