/* Todo styles */

.todo {
  width: 250px;
  min-height: 150px;
  max-height: 150px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0 10px 20px 10px;
  position: relative;
  transition:  all ease .3s;
  margin: 15px;
  overflow: hidden;
}

.todo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  height: 37px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

.todo_height {
  max-height: none;
}

.todo_height.todo::after {
  content: none;
}

.todo_wrapper {
  width: 250px;
  height: auto;
}

.todo_title {
  display: flex;
  border-bottom: 1px solid #555;
  align-items: center;
}

.todo_title h1 {
  width: 100%;
  max-width: 165px;
  text-align: left;
  font-size: 20px;
  padding: 10px;
}

.todo_actions {
  min-width: 65px;
  max-width: 65px;
  height: 25px;
  display: flex;
  position: relative;
}

.todo_actions p {
  width: 108px;
  right: 0px;
  position: absolute;
  bottom: -30px;
}

.todo_save, .todo_cancel {
  height: 100%;
  width: 25px;
  background-image: url(https://image.flaticon.com/icons/png/512/104/104681.png);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 5px;
}

.todo_cancel {
  background-image: url(https://image.flaticon.com/icons/png/512/130/130887.png);
  border: 1px solid red;
  margin-left: 10px;
}


/* Todo list */

.todo_list {
  padding: 20px 0;
}

.list_container {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.list_check {
  display: flex;
  width: 100%;
  align-items: center;
}

.list_container input[type="text"] {
  width: 100%;
  min-width: 15px;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 0 5px;
}

.checkbox {
  margin-right: 10px;
}

.list_edit, .list_delete, .list_cancel, .list_done {
  min-width: 15px;
  height: 20px;
  background-image: url(https://image.flaticon.com/icons/png/512/95/95358.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
}

.list_delete {
  background-image: url(https://image.flaticon.com/icons/png/512/90/90377.png);
}

.list_cancel {
  background-image: url(https://image.flaticon.com/icons/png/512/130/130887.png);
}

.list_done {
  background-image: url(https://image.flaticon.com/icons/png/512/60/60516.png);
}


/* Add todo */

.todo_add {
  display: flex;
}

.todo_add input {
  width: 100%;
  margin-right: 10px;
}


/* Other */

.hover_field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  border-radius: 10px;
  opacity: 0;
  transition:  all ease .3s;
  background-image: url(https://image.flaticon.com/icons/png/512/95/95358.png);
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.hover_field_stand {
  background-image: none;
}

.delete_todoList {
  opacity: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #fff;
  background-image: url(https://image.flaticon.com/icons/png/512/90/90377.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

.delete_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(0,0,0,.7);
}

.delete_wrapper p {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.confirmDel {
  min-width: 15px;
  height: 20px;
  background-image: url(https://image.flaticon.com/icons/png/512/90/90377.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
}


/* hover */

.todo:hover .todo_wrapper {
  transition:  all ease .3s; 
  filter: blur(1px)
}

.todo.todo_height .todo_wrapper {
  filter: blur(0px)
}

.todo:hover .delete_todoList {
  transition:  all ease .3s;
  opacity: 1;
}

.todo:hover {
  border: 1px solid #000;
  -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
  -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
  box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
}

.todo:hover .hover_field {
  opacity: 0.8;
}


.todo:hover.todo::after {
  content: none;
}