/* Main styles */

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 80%;
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

/* Todo list */

.addTodoList {
  width: 250px;
  height: 150px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0 10px 20px 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:  all ease .3s; 
  cursor: pointer;
}

.addTodoList_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 50px;
  opacity: 0.5;
}

.addTodoList:hover {
  -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
  -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
  box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.22);
  transition:  all ease .3s; 
}

.addTodoList_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addTodoList_actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}