<template>
  <div class="wrapper">
    <todo
      @click="editTodoList(list.id)"
      :edit="todoListId === list.id"
      :title="list.title" v-for="(idx, list) in todoLists"
      :key="idx"
      :todoid="idx"
      @delete="deleteTodoList(idx)"
      @end="todoListId = ''"></todo>

    <div @click="addTodoList" class="addTodoList">
      <div v-if="!isAddTodoList" class="addTodoList_wrap">
        <p class="plus">+</p>
        <p>Add todo list</p>
      </div>
      <div v-else class="addTodoList_input">
        <label for="addTodoList_title">Write title</label>
        <input type="text" id="addTodoList_title" v-model="nameTodoList">
        <div class="addTodoList_actions">
          <button @click.stop="addDone">Add</button>
          <button @click.stop="addCancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import todo from 'vue!./todo/todo.vue'

export default {
  components: {
    todo
  },
  data() {
    return {
      todoLists: [],
      isAddTodoList: false,
      nameTodoList: '',
      nextTodoListId: 0,
      todoListId: ''
    }
  },

  created() {
    this.getTodoList();
  },

  methods: {
    // Add todo
    addTodoList() {
      this.isAddTodoList = true;
    },

    // Actions
    addDone() {
      if (this.nameTodoList) {
        this.isAddTodoList = false;
        this.todoLists.push({
          id: this.nextTodoListId++,
          title: this.nameTodoList,
          todo: []
        });
        this.nameTodoList = '';
        this.saveTodoList();
      }
    },
    addCancel() {
      this.isAddTodoList = false;
      this.nameTodoList = '';
    },
    editTodoList(el) {
      this.todoListId = el;
    },
    deleteTodoList(el) {
      this.todoLists.splice(el, 1);
      this.saveTodoList();
    },

    // Save data
    getTodoList() {
      if (localStorage.getItem('todo-lists')) {
        this.todoLists = JSON.parse(localStorage.getItem('todo-lists'));
        if (this.todoLists.length !== 0) {
          this.nextTodoListId = this.todoLists[this.todoLists.length - 1].id + 1;
        }
      }
    },
    saveTodoList() {
      localStorage.setItem('todo-lists', JSON.stringify(this.todoLists));
    }
  }
}
</script>

<style src="./myMain.css">

</style>